#FlatDesign {
    .NoBorderRadius(){ // function style - so it was be in output css
        border-radius: 0 !important;
    }

    .SideBar(){
        overflow: hidden;

        @media (min-width:568px) {
            min-width: 225px;
        }

        @media (max-width:568px) {
            width: 0;
        }
    }
}

.reset-mixin() {
  margin: 0;
  padding: 0;
}

.background-transitions-mixin() {
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
