//rewrites for bootstrap button
.nopadding {
  padding: 0;
  margin: 0;
}

.btn {
  &.item__button {
    border-radius: 0;
    color: @color-white;
    &:hover {
      color: @color-white;
    }
  }
}
