@should-topic-color: #52d68a;
@could-topic-color: #f1c50e;
@could-not-topic-color: #e74b3c;


@should-topic-color-hover: #32C572;
@could-topic-color-hover: #E7A309;
@could-not-topic-color-hover: #CA2918;

@background-color: #f2f2f2;
@background-border-color: darken(@background-color, 20%);
@dark-background-color: #606060;

@text-color: #555;
@light-text-color: #d2d2d2;

@nav-title-color: #9d9d9d;

// bootstrap colors
@brand-error:   #f2dede;
@brand-success: #dff0d8;
@brand-info:    #5bc0de;
@brand-danger:  #d9534f;
@dark-nav-background: #222;