.panel {
  border: 0 solid transparent;
  margin-bottom: 3px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.panel-heading {
  //disable corners for the list items
  #FlatDesign > .NoBorderRadius();
  padding: 0;

  .panel-title {
    color: @color-white;

    .knowledge-item {
      text-decoration: none;
      font-size: @font-size_m;
      font-weight: 600;
    }
    //wrapper for the knowledge list item
    .knowledge-item--wrapper {
      padding: 20px 10px;
    }

    .knowledge-item__block {
      .knowledge-item__wrapper--logo {
        float: left;
        .knowledge-item__logo {
          width: 30px;
        }
      }

      .knowledge-item__wrapper--title {
        font-weight: bold;
        font-size: @font-size_xxl + 10;
        white-space: nowrap;
      }

      .knowledge-item__wrapper--priority {

      }

      .knowledge-item__wrapper--area {

      }

      .knowledge-item__wrapper--percentage {
        .knowledge-item__percentage {
          float: left;
          margin-right: 5px;
        }
      }

      .knowledge-item__wrapper--score {
        font-weight: bold;
        text-align: right;
        font-size: 35px;
        padding: 0 10px;
      }

      .knowledge-item__wrapper--date {
        font-size: @font-size_base;
        margin-top: 10px;
      }
    }
  }

  }

    .panel-body{
        #FlatDesign > .NoBorderRadius();
        margin-bottom: 5px;
    }

    .input-group-addon{
        #FlatDesign > .NoBorderRadius();
        border-color: @background-border-color;
    }

    .form-control{
        border-color: @background-border-color;
    }


.should-topic{
    .panel-heading{
        background-color: @should-topic-color;

        &:hover{
            background-color: @should-topic-color-hover; //saturate(@should-topic-color, 25%);
        }
    }
}

.could-topic{
    .panel-heading{
        background-color: @could-topic-color;

        &:hover{
            background-color: @could-topic-color-hover; //saturate(@could-topic-color, 60%);
        }
    }
}


.could-not-topic{
    .panel-heading{
        background-color: @could-not-topic-color;

        &:hover{
            background-color: @could-not-topic-color-hover; //saturate(@could-not-topic-color, 50%);
        }
    }
}

.should-topic, .could-topic, .could-not-topic{
    .panel-body{
        background-color: @background-color;
        border-color: @background-border-color;
    }
}
