<div class="sidebar-directive" ng-init="isVisible=false;">
    <div class="btn-menu-wrapper" ng-click="isVisible=!isVisible">
        <a href="#" class="btn-menu glyphicon glyphicon-align-justify toggle" onclick="return false;">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="sidebar-wrapper" ng-show="isVisible">
        <div class="navbar-collapse">
            <ul>
                <li ng-repeat="item in items" ng-class="{'active': item.active}" ng-click="onClickItem()">
                    <a href="{item.url}" onclick="return false;">{{item.name}}
                        <span ng-if="item.children.length" class="caret"></span>
                        <span style="font-size:16px;" class="pull-right showopacity glyphicon {{item.icon}}"></span>
                    </a>
                    <ul ng-if="item.children.length" ng-show="item.expanded">
                        <li ng-repeat="child in item.children" ng-click="onClickChild()">
                            <a href="{child.url}" onclick="return false;">{{child.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>